* {
    padding: 0;
    margin: 0;
}

a {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    color: aliceblue;
    text-decoration: none;
}

.container {
    margin: 100px auto;
    box-sizing: border-box;
    width: 1000px;
    height: 100%;
    background-color: gray;
    display: flex;
    justify-content:center;    
}

.join-main {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.input-data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.title {
    margin: 0 auto;
}
.join-title {
    width: 40%;
    font-size: 40px;
}
.join {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 40px;
}
input {
    width: 300px;
    height: 40px;
    margin-top: 10px ;
}

