/* flex 사용하기 */

* {
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
}

body {
    color: white;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
}

#container {
    background: linear-gradient(black, darkblue, rgb(76, 0, 255));
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    font-size: 8vw;
    font-weight: bold;
    min-width: 400px;
}

.title:hover {
    scale: 110%;
    transition-delay: 0.2s;
    transition-duration: 1.5s;
    color: blueviolet;
}

.star-moon {
    position:relative;
    height: 200px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.moon {
    margin-left: 50px;
    position: absolute;
    border: 5px solid rgb(255, 246, 167);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: gold;
    transition-duration: 2s;
    box-shadow: 0 0 100px white;

}
.moon:hover {
    background-color: rgb(255, 238, 0);
    scale: 180%;
    box-shadow: 0 0 20px white;
}

.star {
    box-shadow: 0 0 20px white;
} 
.star1 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 30%;
    left: 80%;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 230, 0);
    z-index: 1;
    animation-name: star1;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
.star2 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 10%;
    left: 60%;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 230, 0);
    z-index: 1;
    animation-name: star1;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
.star3 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 20%;
    left: 40%;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 230, 0);
    z-index: 1;
    animation-name: star1;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
.star4 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 60%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 230, 0);
    z-index: 1;
    animation-name: star2;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
.star5 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 0%;
    left: 90%;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    animation-name: star2;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
.star6 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 45%;
    left: 65%;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    animation-name: star2;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
.star7 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 55%;
    left: 30%;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    animation-name: star3;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
.star8 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 5%;
    left: 20%;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 224, 224);
    z-index: 1;
    animation-name: star3;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
.star9 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 50%;
    left: 95%;
    width: 10px;
    height: 10px;
    background-color: rgb(182, 214, 255);
    z-index: 1;
    animation-name: star3;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}



@keyframes star1 {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.6;
    }
    40% {
        opacity: 0.2;
    }
    60% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes star2 {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 0.6;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.2;
    }
}
@keyframes star3 {
    0% {
        opacity: .6;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0.6;
    }
    60% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.8;
    }
}


.logbox {
    margin: 0 auto;
    width: 70%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.id {
    margin: 50px auto;
    margin-bottom: 0px;
    width: 300px;
    height: 50px;
    background-color: rgb(205, 222, 245);
    border-radius: 10px;
}
.pw {
    margin: 50px auto;
    margin-bottom: 0px;
    width: 300px;
    height: 50px;
    background-color: rgb(205, 222, 245);
    border-radius: 10px;
}
.log-in {
    margin: 50px auto;
    margin-bottom: 0px;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: WHITE;
}
.join {
    margin-top: 20px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.change-lan {
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
}




.footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3vw;
    position: relative;
    overflow: hidden;
}

.mount {
    left: -10%;
    top: 0%;
    border-radius: 50%;
    width: 700px;
    height: 500px;
    background-color: rgb(51, 47, 47);
    position: absolute;
    border: 10px solid rgb(53, 49, 49);
}

.abc {
    z-index: 10;
}

.site-child {
    transition-duration: .2s;
    
}

.site-child:nth-child(1n):hover {
    scale: 150%;
    color: blanchedalmond;
}

.jyj {
    z-index: 10;
    margin: 50px auto;
    margin-top: 0;
    transition-duration: 0.1s;
    transition-duration: 1.5s;
}
.jyj:hover {
    scale: 200%;
    color: blanchedalmond;
}
