/* 웹 화면 구현 */
@media only screen and (min-width: 769px) {
  * {
    padding: 0%;
    margin: 0%;
  }

  .phone {
    display: none;
  }

  ul {
    list-style: none;
  }

  a {
    font-size: 20%;
    font-weight: bold;
    color: white;
    text-decoration: none;
    z-index: 4;
  }

  nav {
    position: relative;
  }
  li {
    /* position: relative; */
    overflow: hidden;
  }

  #container {
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    height: 150vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas:
      "header         header          header          header        "
      "sider3         sider3          content         content       "
      "sider3         sider3          content         content       "
      "sider1         sider1          content         content       "
      "sider1         sider1          content         content       "
      "sider2         sider2          content         content       "
      "sider2         sider2          content         content       "
      "footer         footer          footer          footer        ";
  }

  .grid-box {
    color: whitesmoke;
  }

  /* 최상단 제목 */
  .header {
    grid-area: header;
    background: linear-gradient(black, rgb(0, 0, 49));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8vw;
    font-weight: bold;
    transition-delay: 0.2s;
    transition-duration: 1.2s;
  }
  .header:hover {
    color: blueviolet;
    scale: 110%;
  }

  /* 도시 이미지, 별, 목록 */
  .sider1 {
    grid-area: sider1;
    background: linear-gradient(
      rgba(49, 1, 82, 0.986),
      rgba(64, 5, 202, 0.986)
    );
    display: flex;
    font-size: 30px;
    position: relative;
    flex-direction: column;
    overflow: hidden;
  }
  .city {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
  }
  .city > img {
    position: absolute;
    width: 70%;
    top: 30%;
    opacity: 0.4;
    transition-duration: 1s;
  }
  .city > img:hover {
    scale: 140%;
  }
  .navy1 {
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    z-index: 25;
  }
  .click {
    position: absolute;
    display: none;
    height: 200%;
    font-size: 5vw;
    opacity: 0;
  }
  .singer:hover .click {
    transform: translateY(2%);
    opacity: 1;
    display: flex;
    flex-direction: column;
    z-index: 10;
  }
  .singer-style {
    transition-delay: 0.1s;
    transition-duration: 1s;
  }
  .singer-style:hover {
    color: bisque;
  }
  @keyframes star1 {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0.6;
    }
    40% {
      opacity: 0.2;
    }
    60% {
      opacity: 0.2;
    }
    80% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes star2 {
    0% {
      opacity: 0.2;
    }
    20% {
      opacity: 0.6;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 0.6;
    }
    80% {
      opacity: 0.2;
    }
    100% {
      opacity: 0.2;
    }
  }
  @keyframes star3 {
    0% {
      opacity: 0.6;
    }
    20% {
      opacity: 1;
    }
    40% {
      opacity: 0.6;
    }
    60% {
      opacity: 0.2;
    }
    80% {
      opacity: 0.6;
    }
    100% {
      opacity: 0.8;
    }
  }
  .star1 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    top: 18%;
    left: 90%;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    animation-name: star1;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star2 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 93%;
    left: 80%;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    animation-name: star1;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star3 {
    position: absolute;
    border: 1px solid rgb(245, 242, 213);
    border-radius: 50%;
    top: 20%;
    left: 70%;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    animation-name: star1;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star4 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 90%;
    left: 60%;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 230, 0);
    z-index: 1;
    animation-name: star2;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star5 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 25%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 254, 181);
    z-index: 1;
    animation-name: star2;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star6 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 88%;
    left: 40%;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    animation-name: star2;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star7 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 19%;
    left: 30%;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    animation-name: star3;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star8 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 95%;
    left: 20%;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 224, 224);
    z-index: 1;
    animation-name: star3;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star9 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 27%;
    left: 10%;
    width: 5px;
    height: 5px;
    background-color: rgb(182, 214, 255);
    z-index: 1;
    animation-name: star3;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
  }

  /* 사이드2, 별똥별 */
  .sider2 {
    grid-area: sider2;
    background: linear-gradient(rgba(64, 5, 202, 0.986), rgb(0, 45, 97));
    display: flex;
    font-size: 30px;
    position: relative;
    flex-direction: column;
    overflow: hidden;
  }
  .harf-moon {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 15;
    width: 11vw;
    opacity: 0.4;
    transition-duration: 1s;
  }
  .ship {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 7vw;
    z-index: 15;
    opacity: 0.3;
    display: flex;
    transition-duration: 1s;
  }
  .harf-moon:hover {
    scale: 130%;
  }
  .ship:hover {
    transform: scale(130%);
  }
  .navy2 {
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    z-index: 100;
  }
  .shooting-stars {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
    overflow: hidden;
  }
  .shooting-star1 {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 100px;
    height: 5px;
    animation-name: shootingStar;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(
      -135deg,
      white,
      blueviolet,
      rgba(64, 5, 202, 0.986),
      rgb(0, 45, 97)
    );
    border-radius: 80% 20% 20% 80%;
  }
  .shooting-star2 {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 80px;
    height: 4px;
    animation-name: shootingStar;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(
      -135deg,
      white,
      blueviolet,
      rgba(64, 5, 202, 0.986),
      rgb(0, 45, 97)
    );
    border-radius: 100% 20% 20% 80%;
  }
  .shooting-star3 {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 100px;
    height: 5px;
    animation-name: shootingStar;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(
      -135deg,
      rgb(255, 255, 255),
      rgb(191, 0, 255),
      rgba(64, 5, 202, 0.986),
      rgb(0, 45, 97)
    );
    border-radius: 80% 20% 20% 80%;
  }
  .shooting-star4 {
    position: absolute;
    top: 10%;
    left: 45%;
    width: 120px;
    height: 6px;
    animation-name: shootingStar;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(
      -135deg,
      rgb(255, 255, 255),
      rgb(191, 0, 255),
      rgba(64, 5, 202, 0.986),
      rgb(0, 45, 97)
    );
    border-radius: 80% 20% 20% 80%;
  }
  .shooting-star5 {
    position: absolute;
    top: 20%;
    left: 55%;
    width: 100px;
    height: 5px;
    animation-name: shootingStar;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(
      -135deg,
      rgb(255, 255, 255),
      rgb(191, 0, 255),
      rgba(64, 5, 202, 0.986),
      rgb(0, 45, 97)
    );
    border-radius: 80% 20% 20% 80%;
  }
  .shooting-star6 {
    position: absolute;
    top: 15%;
    left: 65%;
    width: 80px;
    height: 3px;
    animation-name: shootingStar;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(
      -135deg,
      rgb(255, 255, 255),
      rgb(191, 0, 255),
      rgba(64, 5, 202, 0.986),
      rgb(0, 45, 97)
    );
    border-radius: 80% 20% 20% 80%;
  }
  .shooting-star7 {
    position: absolute;
    top: 25%;
    left: 75%;
    width: 100px;
    height: 4px;
    animation-name: shootingStar;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(
      -135deg,
      rgb(255, 255, 255),
      rgb(191, 0, 255),
      rgb(0, 45, 97)
    );
    border-radius: 80% 20% 20% 80%;
  }
  @keyframes shootingStar {
    0% {
      transform: translate(-10vw, -10vw) rotate(45deg);
      opacity: 0;
    }
    5% {
      transform: translate(-20vw, -20vw) rotate(45deg);
      opacity: 0.8;
    }
    65% {
      transform: translate(30vw, 30vw) rotate(45deg);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  /* 이미지 자동 변경 */
  .sider3 {
    grid-area: sider3;
    background: linear-gradient(rgb(0, 0, 49), rgba(49, 1, 82, 0.986));
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .celeb {
    padding: 10px;
    width: 80%;
    height: 80%;
    overflow: hidden;
  }
  .item-set {
    width: 2000px;
    height: 100%;
    display: flex;
    animation-name: item-ani;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .items {
    border: 3px solid white;
    margin: 10px;
    min-width: 180px;
    width: 25%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .items > a {
    border: 3px solid white;
    font-size: 400%;
    opacity: 0;
  }
  @keyframes item-ani {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-1450px, 0);
    }
  }
  .item-set:hover {
    animation-play-state: paused;
  }
  .item1 {
    background-image: url(../연예인사진/백예린.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item2 {
    width: 25%;
    background-image: url(../연예인사진/아이유.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item3 {
    width: 25%;
    background-image: url(../연예인사진/태연.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item4 {
    width: 25%;
    background-image: url(../연예인사진/치즈.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item5 {
    width: 25%;
    background-image: url(../연예인사진/펀치.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item6 {
    width: 25%;
    background-image: url(../연예인사진/쏠.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item7 {
    width: 25%;
    background-image: url(../연예인사진/헤이즈.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item8 {
    width: 25%;
    background-image: url(../연예인사진/폴킴.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item9 {
    width: 25%;
    background-image: url(../연예인사진/딘.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* 가수 정보 contents */
  .content {
    grid-area: content;
    background: linear-gradient(
      rgb(0, 0, 49),
      rgba(49, 1, 82, 0.986),
      rgba(64, 5, 202, 0.986),
      rgb(0, 45, 97)
    );
    padding: 20px;
    min-height: 600px;
  }
  .music {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .musician {
    width: 30%;
    height: 30%;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 150px;
    border: 4px solid black;
    border-radius: 10%;
  }
  .musician1 {
    background-image: url(../연예인사진/백예린.jpg);
    background-size: cover;
  }
  .musician2 {
    background-image: url(../연예인사진/아이유.jpg);
    background-size: cover;
  }
  .musician3 {
    background-image: url(../연예인사진/태연.jpg);
    background-size: cover;
  }
  .musician4 {
    background-image: url(../연예인사진/헤이즈.jpg);
    background-size: cover;
  }
  .musician5 {
    background-image: url(../연예인사진/치즈.jpg);
    background-size: cover;
  }
  .musician6 {
    background-image: url(../연예인사진/펀치.jpg);
    background-size: cover;
  }
  .musician7 {
    background-image: url(../연예인사진/폴킴.jpg);
    background-size: cover;
  }
  .musician8 {
    background-image: url(../연예인사진/딘.jpg);
    background-size: cover;
  }
  .musician9 {
    background-image: url(../연예인사진/쏠.jpg);
    background-size: cover;
  }

  .musician > .text {
    width: 100%;
    font-size: 100%;
    color: ivory;
    background-color: rgb(65, 65, 65);
    display: none;
    opacity: 0;
  }
  .musician:nth-child(1n):hover .text {
    display: flex;
    flex-direction: column;
    opacity: 0.5;
  }

  /* 하단 부*/
  .footer {
    grid-area: footer;
    background: linear-gradient(rgb(0, 45, 97), rgb(89, 111, 231));
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer > p:nth-child(1) {
    margin-top: 100px;
  }
  .footer > p:nth-child(3) {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  * {
    padding: 0%;
    margin: 0%;
  }

  ul {
    list-style: none;
  }

  a {
    font-size: 20%;
    font-weight: bold;
    color: white;
    text-decoration: none;
    z-index: 4;
  }

  nav {
    position: relative;
  }
  li {
    overflow: hidden;
  }

  .sider1 {
    display: none;
  }

  .sider2 {
    display: none;
  }

  .sider3 {
    display: none;
  }

  .content {
    display: none;
  }

  #container {
    font-weight: bold;
    box-sizing: border-box;
    overflow: hidden;
    width: 105%;
    height: 200vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "header         header          "
      "sider3         sider3          "
      "sider3         sider3          "
      "sider1         sider1          "
      "sider1         sider1          "
      "sider2         sider2          "
      "sider2         sider2          "
      "footer         footer          ";
  }

  .grid-box {
    color: whitesmoke;
  }

  .header {
    grid-area: header;
    background: linear-gradient(black, rgb(0, 0, 49));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8vw;
    font-weight: bold;
    transition-delay: 0.2s;
    transition-duration: 1.2s;
  }
  .header > p {
    margin-top: 50px;
  }
  .header:hover {
    color: blueviolet;
    scale: 130%;
  }

  /* 모바일 콘텐츠영역 메뉴 */
  /* 우측 네비바 */
  .phone {
    width: 70px;
    height: 60vh;
    position: absolute;
    right: 0%;
    top: 20%;
    display: flex;
    z-index: 3;
  }
  .phone-navbar {
    position: fixed;
    width: 50px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .phone-nav {
    height: 20%;
    display: flex;
    margin-top: 5px;
    border-radius: 10%;
  }
  .phone-nav1 {
    background-image: url(/연예인사진/백예린.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .phone-nav2 {
    background-image: url(/연예인사진/아이유.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .phone-nav3 {
    background-image: url(/연예인사진/태연.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .phone-nav4 {
    background-image: url(/연예인사진/헤이즈.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .phone-nav5 {
    background-image: url(/연예인사진/펀치.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .phone-nav6 {
    background-image: url(/연예인사진/치즈.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .phone-nav7 {
    background-image: url(/연예인사진/딘.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .phone-nav8 {
    background-image: url(/연예인사진/폴킴.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .phone-nav9 {
    background-image: url(/연예인사진/쏠.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .phone-nav > a {
    width: 100%;
    opacity: 0;
  }

  /* 이미지 자동 변경 */
  .sider3 {
    grid-area: sider3;
    background: linear-gradient(rgb(0, 0, 49), rgba(49, 1, 82, 0.986));
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .celeb {
    padding: 10px;
    width: 80%;
    height: 80%;
    overflow: hidden;
  }
  .item-set {
    width: 2000px;
    height: 100%;
    display: flex;
    animation-name: item-ani;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .items {
    border: 3px solid white;
    margin: 10px;
    min-width: 180px;
    width: 25%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .items > a {
    border: 3px solid white;
    font-size: 400%;
    opacity: 0;
  }
  @keyframes item-ani {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-1450px, 0);
    }
  }
  .item-set:hover {
    animation-play-state: paused;
  }
  .item1 {
    background-image: url(../연예인사진/백예린.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item2 {
    width: 25%;
    background-image: url(../연예인사진/아이유.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item3 {
    width: 25%;
    background-image: url(../연예인사진/태연.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item4 {
    width: 25%;
    background-image: url(../연예인사진/치즈.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item5 {
    width: 25%;
    background-image: url(../연예인사진/펀치.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item6 {
    width: 25%;
    background-image: url(../연예인사진/쏠.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item7 {
    width: 25%;
    background-image: url(../연예인사진/헤이즈.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item8 {
    width: 25%;
    background-image: url(../연예인사진/폴킴.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item9 {
    width: 25%;
    background-image: url(../연예인사진/딘.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* 도시 이미지, 별, 목록 */
  .sider1 {
    grid-area: sider1;
    background: linear-gradient(
      rgba(49, 1, 82, 0.986),
      rgba(64, 5, 202, 0.986)
    );
    display: flex;
    font-size: 30px;
    position: relative;
    flex-direction: column;
    justify-content: center;
  }
  .city {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .city > img {
    position: absolute;
    width: 70%;
    top: 30%;
    opacity: 0.4;
    transition-duration: 1s;
  }
  .city > img:hover {
    scale: 140%;
  }
  .navy1 {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    z-index: 10;
  }
  .click {
    z-index: 100;
    position: absolute;
    display: none;
    height: 100%;
    font-size: 10vw;
    opacity: 0;
  }
  .singer:hover .click {
    transform: translateY(2%);
    opacity: 1;
    display: flex;
    flex-direction: column;
    z-index: 10;
  }
  .singer-style {
    transition-delay: 0.1s;
    transition-duration: 1s;
  }
  .singer-style:hover {
    color: bisque;
  }
  @keyframes star1 {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0.6;
    }
    40% {
      opacity: 0.2;
    }
    60% {
      opacity: 0.2;
    }
    80% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes star2 {
    0% {
      opacity: 0.2;
    }
    20% {
      opacity: 0.6;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 0.6;
    }
    80% {
      opacity: 0.2;
    }
    100% {
      opacity: 0.2;
    }
  }
  @keyframes star3 {
    0% {
      opacity: 0.6;
    }
    20% {
      opacity: 1;
    }
    40% {
      opacity: 0.6;
    }
    60% {
      opacity: 0.2;
    }
    80% {
      opacity: 0.6;
    }
    100% {
      opacity: 0.8;
    }
  }
  .star1 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    top: 18%;
    left: 90%;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    animation-name: star1;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star2 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 93%;
    left: 80%;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    animation-name: star1;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star3 {
    position: absolute;
    border: 1px solid rgb(245, 242, 213);
    border-radius: 50%;
    top: 20%;
    left: 70%;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    animation-name: star1;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star4 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 90%;
    left: 60%;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 230, 0);
    z-index: 1;
    animation-name: star2;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star5 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 25%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 254, 181);
    z-index: 1;
    animation-name: star2;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star6 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 88%;
    left: 40%;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    animation-name: star2;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star7 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 19%;
    left: 30%;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    animation-name: star3;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star8 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 95%;
    left: 20%;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 224, 224);
    z-index: 1;
    animation-name: star3;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star9 {
    position: absolute;
    border: 1px solid rgb(255, 246, 167);
    border-radius: 50%;
    top: 27%;
    left: 10%;
    width: 5px;
    height: 5px;
    background-color: rgb(182, 214, 255);
    z-index: 1;
    animation-name: star3;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  .star {
    box-shadow: 0 0 10px white;
  }

  /* 사이드2, 별똥별 */
  .sider2 {
    grid-area: sider2;
    background: linear-gradient(rgba(64, 5, 202, 0.986), rgb(0, 45, 97));
    display: flex;
    font-size: 30px;
    position: relative;
    justify-content: center;
  }
  .navy2 {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    z-index: 100;
  }
  .harf-moon {
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 15;
    width: 20vw;
    opacity: 0.4;
    transition-duration: 1s;
  }
  .ship {
    position: absolute;
    top: 50%;
    left: 60%;
    width: 10vw;
    z-index: 15;
    opacity: 0.3;
    display: flex;
    transition-duration: 1s;
  }
  .harf-moon:hover {
    scale: 130%;
  }
  .ship:hover {
    transform: scale(130%);
  }
  .shooting-stars {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
    overflow: hidden;
  }
  .shooting-star1 {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 100px;
    height: 5px;
    animation-name: shootingStar;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(
      -135deg,
      white,
      blueviolet,
      rgba(64, 5, 202, 0.986),
      rgb(0, 45, 97)
    );
    border-radius: 80% 20% 20% 80%;
  }
  .shooting-star2 {
    position: absolute;
    top: 5%;
    left: 23%;
    width: 80px;
    height: 4px;
    animation-name: shootingStar;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(
      -135deg,
      white,
      blueviolet,
      rgba(64, 5, 202, 0.986),
      rgb(0, 45, 97)
    );
    border-radius: 100% 20% 20% 80%;
  }
  .shooting-star3 {
    position: absolute;
    top: 25%;
    left: 36%;
    width: 100px;
    height: 5px;
    animation-name: shootingStar;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(
      -135deg,
      rgb(255, 255, 255),
      rgb(191, 0, 255),
      rgba(64, 5, 202, 0.986),
      rgb(0, 45, 97)
    );
    border-radius: 80% 20% 20% 80%;
  }
  .shooting-star4 {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 120px;
    height: 6px;
    animation-name: shootingStar;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(
      -135deg,
      rgb(255, 255, 255),
      rgb(191, 0, 255),
      rgba(64, 5, 202, 0.986),
      rgb(0, 45, 97)
    );
    border-radius: 80% 20% 20% 80%;
  }
  .shooting-star5 {
    position: absolute;
    top: 20%;
    left: 64%;
    width: 100px;
    height: 5px;
    animation-name: shootingStar;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(
      -135deg,
      rgb(255, 255, 255),
      rgb(191, 0, 255),
      rgba(64, 5, 202, 0.986),
      rgb(0, 45, 97)
    );
    border-radius: 80% 20% 20% 80%;
  }
  .shooting-star6 {
    position: absolute;
    top: 15%;
    left: 78%;
    width: 80px;
    height: 3px;
    animation-name: shootingStar;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(
      -135deg,
      rgb(255, 255, 255),
      rgb(191, 0, 255),
      rgba(64, 5, 202, 0.986),
      rgb(0, 45, 97)
    );
    border-radius: 80% 20% 20% 80%;
  }
  .shooting-star7 {
    position: absolute;
    top: 25%;
    left: 90%;
    width: 100px;
    height: 4px;
    animation-name: shootingStar;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(
      -135deg,
      rgb(255, 255, 255),
      rgb(191, 0, 255),
      rgb(0, 45, 97)
    );
    border-radius: 80% 20% 20% 80%;
  }
  @keyframes shootingStar {
    0% {
      transform: translate(-30vw, -30vw) rotate(45deg);
      opacity: 0;
    }
    5% {
      transform: translate(-20vw, -20vw) rotate(45deg);
      opacity: 0.8;
    }
    65% {
      transform: translate(30vw, 30vw) rotate(45deg);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  /* 하단 부*/
  .footer {
    grid-area: footer;
    background: linear-gradient(rgb(0, 45, 97), rgb(89, 111, 231));
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer > p:nth-child(1) {
    margin-top: 100px;
  }
}
