/* 최상단 네비바  */
.phone-head {
    width: 105%;
    height: 50px;
    position: absolute;
    z-index: 200;
    justify-content: center;
    display: none;
}
.ph-navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.ph-nav {
    width: 11%;
    border-radius: 10%;
    margin-left: 3px;
    display: flex;
}
.ph-nav > a {
    border: 3px solid red;
    width: 100%;
    opacity: 0; 
}

/* <!-- <nav class = "phone-head">
            <ul class = "ph-navbar">
                <span class="ph-nav phone-nav1"><a href="#">test</a></span>
                <span class="ph-nav phone-nav2"><a href="#">test</a></span>
                <span class="ph-nav phone-nav3"><a href="#">test</a></span>
                <span class="ph-nav phone-nav4"><a href="#">test</a></span>
                <span class="ph-nav phone-nav5"><a href="#">test</a></span>
                <span class="ph-nav phone-nav6"><a href="#">test</a></span>
                <span class="ph-nav phone-nav7"><a href="#">test</a></span>
                <span class="ph-nav phone-nav8"><a href="#">test</a></span>
                <span class="ph-nav phone-nav9"><a href="#">test</a></span>
            </ul>
        </nav> --> */